
@{
    ViewData["Title"] = "MovieDisplay";
}

@model Movie
<h1>Movie Registered!</h1>

<p>
    Title: @Model.Title <br />
    Genre: @Model.Genre <br />
    Year: @Model.Year <br />
    Actors: @Model.Actors <br />
    Directors: @Model.Directors
</p>

<h2 class="alert-success">Registration Successful! Thank You.</h2>