
@{
    ViewData["Title"] = "MovieDisplay";
}

@model Movie
<h1 class="alert-success">@Model.Title Registered!</h1>

<p>
    Genre: @Model.Genre <br />
    Year: @Model.Year <br />
    Actors: @Model.Actors <br />
    Directors: @Model.Directors
</p>

<h2>Thank You.</h2>