
@{
    ViewData["Title"] = "View Movies";
}

@{ 
    Movie movieInstance = new Movie();
    List<Movie> movies = movieInstance.GetMovieList();
}
<h1>Movie List</h1>
<p>@movies.Count Movies in database</p>
<hr />

@foreach (Movie movie in movies)
{ 
   <h4>@movie.Title</h4> 
   <ul>
       <li>Genre: @movie.Genre</li>
       <li>Year: @movie.Year</li>
       <li>Actors: @movie.Actors</li>
       <li>Directors: @movie.Directors</li>
   </ul>
}